.form__item {
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #000000;
}

.form__item:focus {
    outline: none;
}

.form__item_el_name {
    width: 358px;
    min-height: 27px;
}

@media (max-width: 560px) {
    .form__item_el_name {
        width: 235px;
    }
}

.form__item-error {
    display: block;
    min-height: 30px;
    padding: 0;
    margin: 5px 0 -35px 0;
    color: red;
    font-size: 12px;
    line-height: calc(1 / 12 * 15);
    z-index: 10;
}

.form__item_el_info {
    width: 358px;
    min-height: 27px;
    margin-top: 35px;
}

@media (max-width: 560px) {
    .form__item_el_info {
        width: 235px;
    }
}
