.footer {
    max-width: 880px;
    margin: 66px auto 60px;
    position: relative;
    bottom: 0;
}

@media (max-width: 375px) {
    .footer {
        margin: 48px auto 36px;
    }
}

.copyright {
    margin: 0;
    justify-content: start;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    text-align: left;
}

@media (max-width: 915px) {
    .copyright {
        margin-left: 19px;
    }
}

@media (max-width: 375px) {
    .copyright {
        font-size: 14px;
        line-height: 17px;
    }
}
