.login {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 360px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__welcome {
    margin: 0;
    padding: 0;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.login__form {
    margin-top: 20px;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background: #000;
    color: #CCCCCC;

}

.login__form input {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 3px;
    background: #000;
    width: 100%;
    margin-top: 40px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;

}

.login__error {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;

    color: #FFFFFF;
}

.login__button-container {
    display: flex;
    margin-top: auto;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
    /*margin-top: 180px;*/
    width: 100%;
    height: 10%;
    background-color: #fff;
    border-radius: 2px;
    transition: ease 0.4s;
}

.login__button-container:hover {
    opacity: 0.6;
}


.login__link {
    width: 100%;
    cursor: pointer;
    text-align: center;
    min-height: 50px;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #000000;
    font-size: 16px;
}

.login__signin {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

