.pop-up {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.pop-up_active {
    /* display: flex; */
    opacity: 1;
    z-index: 10;
    visibility: visible;
    /* transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.8); */
}

.pop-up__container {
    display: flex;
    position: relative;
    width: 430px;
    height: 330px;
}

.form {
    margin: auto;

    width: 356px;

    background: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 35px;
    position: relative;
}

@media (max-width: 560px) {
    .form {
        width: 238px;

        padding: 25px 22px;
    }
}

.form__title {
    margin: 0;
    max-width: 330px;
    min-height: 23px;
    margin-bottom: 45px;
    font-family: "Inter", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media (max-width: 375px) {
    .form__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 66px;
    }
}

.pop-up__button {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
    color: #ffffff;

    border-radius: 2px;
    cursor: pointer;
    width: 358px;
    height: 50px;
    background-color: #000;
    margin-top: 48px;
}

@media (max-width: 560px) {
    .pop-up__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}

.pop-up__button:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}

.pop-up__button:disabled {
    color: #000000;
    background: #ededed;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.2;
}

.pop-up__close {
    width: 32px;
    height: 32px;
    position: absolute;

    background: url(../../images/svg/close-icon.svg) no-repeat center;
    background-size: cover;

    top: -40px;
    border: 0;
    right: -40px;
    color: #fff;
    cursor: pointer;

    z-index: 100;
}

@media (max-width: 560px) {
    .pop-up__close {
        top: -36px;
        right: 0;
    }
}

@media (max-width: 375px) {
    .pop-up__close {
        width: 20px;
        height: 20px;
    }
}

.pop-up__close:hover {
    opacity: 0.6;
    transition: 0.3s ease;
}


