.pop-up {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.pop-up__container {
    display: flex;
    position: relative;
    width: 430px;
    height: 330px;
}

.pop-up_active {
    /* display: flex; */
    opacity: 1;
    z-index: 10;
    visibility: visible;
    /* transform: translateY(0%) scale(100%);
    background-color: rgba(0, 0, 0, 0.8); */
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    position: relative;
}

.result__img {
    max-width: 120px;
    min-height: 120px;
}

.result__text {
    max-width: 358px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}